<div class="container">
  <div class="row">
    <h1><%= @restaurant.name %></h1>
    <h3><%= [@restaurant.category.name] %></h3>
    <div class="col-md-4">  
      <div><%= image_tag @restaurant.image, width: '100%' %></div><br>
      <div class="bg-primary">
        <ul>
          <li><strong>Opening Hours: </strong><%= @restaurant.opening_hours %></li>
          <li><strong>Tel: </strong><%= @restaurant.tel %></li>
          <li><strong>Address: </strong><%= @restaurant.address %></li>
          
        </ul>
      </div>
      <%= link_to 'Back to index', restaurants_path %>
    </div>  
  
    <div class="col-md-8">
    <div>Description: <%= @restaurant.description %></div>
    </div>



  </div>



</div>






